body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #121212;
  color: #e0e0e0;
}

h1,
#sorted-header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#choices {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.song-option {
  width: 45vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #333;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  background-color: #1e1e1e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s, box-shadow 0.2s;
}

.song-option:hover {
  /* transform: scale(1.03); */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.song-name {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.1em;
  color: #f5f5f5;
}

.media-container {
  width: 100%;
  aspect-ratio: 16 / 9;
  max-height: 40vh;
  margin-bottom: 10px;
  overflow: hidden;
  border: 1px solid #444;
}

.media-container iframe,
.media-container video {
  width: 100%;
  height: 100%;
  border: none;
  object-fit: contain;
}

.choose-btn {
  padding: 8px 16px;
  font-size: 1em;
  border: none;
  border-radius: 8px;
  background-color: #388e3c;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.choose-btn:hover {
  background-color: #2e7d32;
}

#sorted-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto 0 auto;
  margin-top: 20px;
  width: 80%;
  max-width: 800px;
}

#sorted-header {
  text-align: center;
  margin-bottom: 10px;
  display: none;
  font-size: 2em;
}

#sorted-list {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  text-align: left;
  font-size: 1.2em;
}

#sorted-list li {
  margin: 8px 0;
}

#comparison-div {
  text-align: center;
  color: #f0f0f0;
  margin-top: 10px;
  font-weight: bold;
}